<nav class="navbar navbar-expand-lg navbar-light bg-primary">
    <div class="container-fluid">
      <a routerLink="/dashboard" class="navbar-brand">
      <strong>Go to dashboard page</strong>
      </a>
   
      
      <a class="navbar-brand" href="#">Staff Dashboard</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>      
        <div class="d-flex">        
          <button class="btn btn-success" type="submit"  data-bs-toggle="modal" data-bs-target="#exampleModal">Add Staff</button>
        </div>
      </div>
  </nav>
  <div class="table">
  <table class="table table-striped">
      <thead>
        <tr>
          <th>Staff Id.</th>
  
          <th> Staff Name</th>
          <th>Staff Branch </th>
  
          <th>Staff EmailId </th>
          <th></th>
  
          <th></th>
        </tr>
      </thead>
  
      <tbody>
        <tr *ngFor="let std of student; let i = index">
          <!-- <th scope="row">{{ i + 1 }}</th> -->
          <td>{{ std.staffId}}</td>
          <td>{{ std.staffName}}</td>
  
          <td>{{ std.staffBranch}}</td>
          <td>{{ std.staffEmailId }}</td>
 
  
  
          <td>
            <input type="button" value="Edit" (click)="EditStudent(std)" data-bs-toggle="modal" data-bs-target="#exampleModal" class="btn btn-success me-2"/>
            <input type="button" value="Delete" (click)="DeleteStudent(std)" class="btn btn-danger"/>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <strong class="name">Staff Form</strong>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                  <form class="row g-3" [formGroup]="studentForm">
                    <div class="form-row">
                      
                    <div class="form-group col-md-8 mt-2">
                      <label for="studentName"> Staff Name</label>
                      <input type="text" class="form-control" formControlName="staffName" >
                    </div>
                      <div *ngIf="f.staffName?.touched && f.staffName.invalid" class="alert alert-danger col-md-8 mt-2 "> 
                      <div *ngIf="f.staffName.errors?.required">Staff Name is required.</div>  
                      <div *ngIf="f.staffName.errors?.pattern">Staff Name should contain character only</div>  
                  </div>  
                
                    <div class="form-group col-md-8 mt-2">
                      <label for="staffBranch">Staff Branch</label>
                      <input type="text" class="form-control" formControlName="staffBranch">
                    </div>
                     <div *ngIf="f.staffBranch?.touched && f.staffBranch.invalid" class="alert alert-danger col-md-8 mt-2 "> 
                      <div *ngIf="f.staffBranch.errors?.required">Staff Branch is required.</div>  
                      <div *ngIf="f.staffBranch.errors?.pattern">Staff Branch should contain character only</div>  
                  </div>  
                  
                    <div class="form-group col-md-8 mt-2">
                      <label for="branch">Email Id</label>
                      <input type="email" class="form-control" formControlName="staffEmailId" >
                    </div>
                    <div *ngIf="f.staffEmailId?.touched && f.staffEmailId.invalid " class="alert alert-danger col-md-8 mt-2 ">   
                      <span *ngIf="f.staffEmailId.errors?.pattern"> Please Enter a Valid Email Id </span>  
                  </div>
                  
                  </div>
                    </form>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-warning"  data-bs-dismiss="modal">Close</button>
                <button *ngIf="btnSaveShow" type="button" class="btn btn-primary" (click)="AddStudent()" >Register</button>
                <button *ngIf="btnUpdateShow" type="button" class="btn btn-primary" (click)="UpdateStudent()">Update</button>
              </div>
            </div>
          </div>
        </div>