<a href="#" routerLink="/home" class="logout">logout</a>
<div class="row">
    <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Student</h5>
          <img class="user" src="https://i.ibb.co/yVGxFPR/2.png" height="100px" width="100px">
          <a href="#" routerLink="/table" class="btn btn-secondary">Student</a>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Event Management</h5>
          <img class="user" src="https://i.ibb.co/yVGxFPR/2.png" height="100px" width="100px">
         
          <a href="#"  routerLink="/event" class="btn btn-secondary">Event Management</a>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Staff</h5>
            <img class="user" src="https://i.ibb.co/yVGxFPR/2.png" height="100px" width="100px">
            <a href="#"  routerLink="/staff" class="btn btn-secondary">staff</a>
          </div>
        </div>
      </div>
      <div class="col-sm-4 ml">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Placement office</h5>
            <img class="user" src="https://i.ibb.co/yVGxFPR/2.png" height="100px" width="100px">
            <a href="#"  routerLink="/placement" class="btn btn-secondary">placement office </a>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">office section</h5>
            <img class="user" src="https://i.ibb.co/yVGxFPR/2.png" height="100px" width="100px">
           
            <a href="#"  routerLink="/office" class="btn btn-secondary">office section</a>
          </div>
        </div>
      </div>
  </div>
