<!-- <app-navbar></app-navbar> -->
<body>
        <div class="text">
        <h2 style="color: red"> What is Social Networking ?</h2><br>
        <p>A social network is a website that allows people with similar interests to come together and share information, photos and videos. People engaged in social networking may be doing so as a personal or a business endeavor.</p>
        <br>
        <p>Social media has provided a base for universities and colleges to share their future-forward innovations and research opportunities with a much wider base than ever before.</p>
    </div>
        <div class="photo">
        <img src="https://previews.123rf.com/images/rawpixel/rawpixel1506/rawpixel150619741/41464155-social-network-social-media-people-education-students-concept.jpg" width="350" height="250" align ="right">
    </div>
    </body>
    
    