<nav class="navbar navbar-expand-lg navbar-light bg-primary">
    <div class="container-fluid">
      <a routerLink="/dashboard" class="navbar-brand">
      <strong>Go to dashboard page</strong>
      </a>
   
      
      <a class="navbar-brand" href="#">Event Management Dashboard</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>      
        <div class="d-flex">        
          <button class="btn btn-success" type="submit"  data-bs-toggle="modal" data-bs-target="#exampleModal">Add Event</button>
        </div>
      </div>
  </nav>
  <div class="table">
  <table class="table table-striped">
      <thead>
        <tr>
          <th>Event Id.</th>
  
          <th> Event Name</th>
          <th>Event Sponsor</th>
  
          <th>Venue</th>
  
          <th></th>
  
          <th></th>
        </tr>
      </thead>
  
      <tbody>
        <tr *ngFor="let std of student; let i = index">
          <!-- <th scope="row">{{ i + 1 }}</th> -->
          <td>{{ std.eventID}}</td>
          <td>{{ std.eventName}}</td>
  
          <td>{{ std.eventSponser}}</td>
          <td>{{ std.venue }}</td>
  
  
          <td>
            <input type="button" value="Edit" (click)="EditStudent(std)" data-bs-toggle="modal" data-bs-target="#exampleModal" class="btn btn-success me-2"/>
            <input type="button" value="Delete" (click)="DeleteStudent(std)" class="btn btn-danger"/>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <strong class="name">Event Form</strong>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                  <form class="row g-3" [formGroup]="studentForm">
                    <div class="form-row">
                      
                    <div class="form-group col-md-8 mt-2">
                      <label for="studentName"> Event Name</label>
                      <input type="text" class="form-control" formControlName="eventName" >
                    </div>
                    <div *ngIf="f.eventName.touched && f.eventName.invalid" class="alert alert-danger col-md-8 mt-2 "> 
                      <div *ngIf="f.eventName.errors?.required">Event Name is required.</div>  
                      <div *ngIf="f.eventName.errors?.pattern">Event Name should contain character only</div>  
                  </div>
                    <div class="form-group col-md-8 mt-2">
                      <label for="mobileNo">Event Sponser </label>
                      <input type="text" class="form-control" formControlName="eventSponser">
                    </div>
                    <div *ngIf="f.eventSponser.touched && f.eventSponser.invalid" class="alert alert-danger col-md-8 mt-2 "> 
                      <div *ngIf="f.eventSponser.errors?.required">Event Sponser is required.</div>  
                      <div *ngIf="f.eventSponser.errors?.pattern">Event Sponser should contain character only</div>  
                  </div>
                    <div class="form-group col-md-8 mt-2">
                      <label for="branch">Venue</label>
                      <input type="text" class="form-control" formControlName="venue" >
                    </div>
                    <div *ngIf="f.venue.touched && f.venue.invalid" class="alert alert-danger col-md-8 mt-2 "> 
                      <div *ngIf="f.venue.errors?.required">Venue is required.</div>  
                      <div *ngIf="f.venue.errors?.pattern">Venue should contain character only</div>  
                  </div>
                  
                  </div>
                    </form>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-warning"  data-bs-dismiss="modal">Close</button>
                <button *ngIf="btnSaveShow" type="button" class="btn btn-primary" (click)="AddStudent()" >Register</button>
                <button *ngIf="btnUpdateShow" type="button" class="btn btn-primary" (click)="UpdateStudent()">Update</button>
              </div>
            </div>
          </div>
        </div>
