.form{
 margin-left: 200px;
 margin-top: 100px;   
}
.name{
    font-size: 30px;
    margin-left: 220px;
}
.button
{
    margin-left: 250px;
}
.button1
{
    margin-top: 60px;;
}
.red
{
    color: red;
}