<body>
    <div class="center">
        <!-- <img src="contact.jpg" alt="" width="200" height="100" align="right"> -->
        <br><h2 style="color: rgb(9, 5, 17)">Office Section Form:-</h2>
       

    </div>
</body>


<form class="mt-3">

    <label>Office Section ID:</label>&nbsp;

    <input type="text" office-section="Enter ID"/><br/><br/>

    <label>Document Type:</label>&nbsp;

    <input type="text" office-section="Enter document type"/><br/><br/>

    <label>Form End Date:</label>&nbsp;

    <input type="date" office-section="Enter date"/><br/><br/>

    <button class="btn btn-primary mb-3">Submit</button>

</form>